<h1>Bonjour, merci de confirmer votre adresse mail</h1>

<p>
    Veuillez confirmer votre adresse mail en utilisant le lien ci-dessous: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon Email</a>.
    Ce lien expire dans {{ expiresAt|date('g') }} heure(s).
</p>

<p>
    Bien à vous!
</p>
