{% extends 'base.html.twig' %}

{% block title %}Changer le mot de passe{% endblock %}

{% block body %}
    <p>Un mail vous a été adressé pour changer le mot de passe. Le lien expire dans {{ tokenLifetime|date('g') }} heure(s).</p>
    <p>Si vous n'avez pas reçu de mail vérifiez votre dossier spam ou  <a href="{{ path('blog_forgot_password_request') }}">Essayez  nouveau</a>.</p>
{% endblock %}
