/*------------------------------------------------------------------
[Feuille de styles du blog]

Project     : Blog de voyage
Version     : 1.0
Modification:	
Mise en page: Jean-Yves BASTARD
Usage       : Open Source
-------------------------------------------------------------------*/

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    color: #666;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.page-conteneur {
	/* Le contenu est rogné si besoin pour s'inscrire dans la boîte de remplissage (padding) */
    overflow: hidden;
    background: #e5e5e5;
    padding-bottom: 3vh;
}

/* ------ contenu de page ---------------*/

.page-contenu {
    margin: 5px;
    padding-top: 5px;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-bottom: 10vh;
    
}

/* ----- Formulaires de login et inscription ------ */

.formulaire_conteneur{
    max-width: 540px;
    padding-top: 8vh;
    margin: 0 auto;
}

.formulaire_masque{
    background: rgb(148, 223, 191);
    padding: 30px 30px 20px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 4px;
}

.formulaire-logo {
    text-align: center;
    margin-bottom: 30px;
}

.formulaire_titre{
    font-family: "Montserrat-Bold", sans-serif;
    font-weight: 500;
    font-size: 1.5em;
    line-height: 1.625;
    color: green;

    text-shadow: 6px 7px 8px #2e2727;
    text-align: center;
}


